<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.rahmony.electronickitchen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Camera permission for the store activity -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera2" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ClassActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ClassActivity.LoginActivity" />
        <activity android:name=".ClassActivity.SignUpActivity" />
        <activity android:name=".ClassActivity.CustomerActivity" />
        <activity android:name=".ClassActivity.MainPageActivity" />
        <activity android:name=".ClassActivity.StoreActivity" />
        <activity android:name=".ClassActivity.CustomerProductActivity" />
        <activity android:name=".ClassActivity.Product_Activity" />
        <activity android:name=".ClassActivity.CreateStoreActivity" />
        <activity android:name=".ClassActivity.ShowProductOfStroeActivity" />
        <activity android:name=".ClassActivity.ReadyOrders" />
        <activity android:name=".ClassActivity.ShowReadyOrders" />
        <activity android:name=".ClassActivity.OrderDetails" />
        <activity android:name=".ClassActivity.acceptedOrderDetails" />
        <activity android:name=".ClassActivity.CustomerTrackingDetailsActivity"></activity>
    </application>

</manifest>
